In [2]:
import pandas as pd
from utils import *

/Users/mhliu/Program/anaconda3/envs/ml/lib/python3.6/site-packages/lightgbm/__init__.py:46: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.3) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

In [2]:
train_path = "../data/train/" # path of processed training data
valid_path = "../data/valid/" # path of processed validation data

In [71]:
a = pd.read_csv(train_path+'test_df.csv')

In [145]:
a[a.pre_next_ball_related>0.44].groupby('next_ball_related').count()

,pre_next_ball_related,pre_x,pre_y,pre_team,x,y,team_id
next_ball_related,,,,,,,
0.0,11,11,11,11,11,11,11
1.0,70,70,70,70,70,70,70

In [136]:
a[a.pre_team>0.45].groupby('team_id').count()

,pre_next_ball_related,pre_x,pre_y,pre_team,next_ball_related,x,y
team_id,,,,,,,
0.0,42,42,42,42,42,42,42
1.0,44,44,44,44,44,44,44

### a[a.pre_team>0.6].groupby('team_id').count()

In [68]:
a[a.pre_next_ball_related<=0.67][['x','y','pre_x','pre_y']]

       x     y  pre_x  pre_y
2   40.9  36.0    0.0    0.0
31  54.1  44.5    0.0    0.0
58   0.0   0.0    0.0    0.0
74  58.2  96.9    0.0    0.0
93  76.3  55.8    0.0    0.0
96   0.0   0.0    0.0    0.0

In [70]:
a.groupby('next_ball_related').count()

,pre_next_ball_related,pre_x,pre_y,pre_team,x,y,team_id
next_ball_related,,,,,,,
0.0,15,15,15,15,15,15,15
1.0,85,85,85,85,85,85,85

In [13]:
event_seq_file = 'tr_'+str(0.0)+'_event.eseq'
a = pd.read_csv(train_path+'0/event_seq/'+event_seq_file).values

AttributeError: 'DataFrame' object has no attribute 'value'

In [8]:
a = pd.read_csv(train_path+'0/event_seq/'+event_seq_file)

In [15]:
b = a.iloc[0,2:]

In [21]:
a[['x','y']]/100

       x      y
0  0.330  1.012
1  0.670 -0.012
2  0.281  1.000
3  0.341  0.908
4  0.273  0.956
5  0.622  0.040
6  0.353  1.020
7  0.647 -0.020
8  0.315  1.000
9  0.578  0.920