In [1]:
import pandas as pd
from utils import *

/Users/mhliu/Program/anaconda3/envs/ml/lib/python3.6/site-packages/lightgbm/__init__.py:46: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.3) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

In [2]:
train_path = "../data/train/" # path of processed training data
valid_path = "../data/valid/" # path of processed validation data

In [71]:
a = pd.read_csv(train_path+'test_df.csv')

In [145]:
a[a.pre_next_ball_related>0.44].groupby('next_ball_related').count()

,pre_next_ball_related,pre_x,pre_y,pre_team,x,y,team_id
next_ball_related,,,,,,,
0.0,11,11,11,11,11,11,11
1.0,70,70,70,70,70,70,70

In [136]:
a[a.pre_team>0.45].groupby('team_id').count()

,pre_next_ball_related,pre_x,pre_y,pre_team,next_ball_related,x,y
team_id,,,,,,,
0.0,42,42,42,42,42,42,42
1.0,44,44,44,44,44,44,44

### a[a.pre_team>0.6].groupby('team_id').count()

In [68]:
a[a.pre_next_ball_related<=0.67][['x','y','pre_x','pre_y']]

       x     y  pre_x  pre_y
2   40.9  36.0    0.0    0.0
31  54.1  44.5    0.0    0.0
58   0.0   0.0    0.0    0.0
74  58.2  96.9    0.0    0.0
93  76.3  55.8    0.0    0.0
96   0.0   0.0    0.0    0.0

In [70]:
a.groupby('next_ball_related').count()

,pre_next_ball_related,pre_x,pre_y,pre_team,x,y,team_id
next_ball_related,,,,,,,
0.0,15,15,15,15,15,15,15
1.0,85,85,85,85,85,85,85

In [7]:
from utils import *
path = valid_path+'val_1.xml'
xml1 = lxml.etree.parse(path)
from main_psgx import *

In [8]:
Result(xml1, 'rnn')

In [20]:
# Get all player list
if (os.path.exists(processed_path+"all_player_data.csv")):
    all_player_df = pd.read_csv(processed_path+"all_player_data.csv")
else:
    all_player_df = get_player_data()
if (os.path.exists(processed_path+"total_play_time_data.csv")):
    total_play_time_data = pd.read_csv(processed_path+"total_play_time_data.csv")
    total_play_time_data.total_playing_time = total_play_time_data.total_playing_time.apply(
        lambda x:pd.Timedelta(x))
else:
    total_play_time_data = get_play_time(all_player_df)
suff_time_plyr = list(total_play_time_data[total_play_time_data.total_playing_time > pd.Timedelta(minutes=800)].player_id)

all_player_df.join_date = all_player_df.join_date.apply(
    lambda x:pd.to_datetime(x, format="%Y-%m-%d"))
join_date_plyr = list(
    all_player_df[all_player_df.join_date < pd.to_datetime('2017-01-01', format="%Y-%m-%d")].player_id)

suff_plyr = [_ for _ in all_player_df.player_id if (_ in join_date_plyr) and (_ in suff_time_plyr)]

In [25]:
suff_plyr = all_player_df[all_player_df.player_id in suff_plyr]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [22]:
len(all_player_df)

708

In [27]:
# Get playing time data of all players
if (os.path.exists(processed_path+"total_play_time_data.csv")):
    total_play_time_data = pd.read_csv(processed_path+"total_play_time_data.csv")
    total_play_time_data.total_playing_time = total_play_time_data.total_playing_time.apply(
        lambda x:pd.Timedelta(x))
else:
    total_play_time_data = get_play_time(all_player_df)
suff_time_plyr = list(total_play_time_data[total_play_time_data.total_playing_time > pd.Timedelta(minutes=800)].player_id)

all_player_df.join_date = all_player_df.join_date.apply(
    lambda x:pd.to_datetime(x, format="%Y-%m-%d"))
join_date_plyr = list(
    all_player_df[all_player_df.join_date < pd.to_datetime('2017-01-01', format="%Y-%m-%d")].player_id)

suff_plyr = [_ for _ in all_player_df if (_ in join_date_plyr) and (_ in suff_time_plyr)]

In [31]:
suff_time_plyr

['p119744',
 'p58309',
 'p42416',
 'p45505',
 'p54518',
 'p18574',
 'p112580',
 'p168109',
 'p168985',
 'p80485',
 'p193454',
 'p149535',
 'p44136',
 'p106884',
 'p13439',
 'p48469',
 'p143685',
 'p37755',
 'p44140',
 'p81028',
 'p85351',
 'p6751',
 'p170137',
 'p105718',
 'p146668',
 'p51498',
 'p44138',
 'p215047',
 'p178492',
 'p6244',
 'p181439',
 'p174892',
 'p59340',
 'p82313',
 'p71797',
 'p12488',
 'p164474',
 'p203368',
 'p121524',
 'p48768',
 'p218005',
 'p12057',
 'p195982',
 'p148011',
 'p181092',
 'p19500',
 'p193512',
 'p167443',
 'p178492',
 'p9997',
 'p12845',
 'p83724',
 'p119691',
 'p203368',
 'p44287',
 'p44357',
 'p7103',
 'p86281',
 'p42761',
 'p45082',
 'p184095',
 'p50996',
 'p60319',
 'p75987',
 'p93619',
 'p121111',
 'p44082',
 'p44312',
 'p106263',
 'p100955',
 'p119679',
 'p13939',
 'p54413',
 'p98746',
 'p212325',
 'p153014',
 'p8747',
 'p86158',
 'p192278',
 'p147577',
 'p111265',
 'p61741',
 'p129478',
 'p111291',
 'p67100',
 'p102744',
 'p42714',
 'p102739',
 'p39905',
 'p213940',
 'p45084',
 'p55343',
 'p12179',
 'p201562',
 'p26896',
 'p49367',
 'p54533',
 'p27675',
 'p13262',
 'p37439',
 'p39804',
 'p60121',
 'p103155',
 'p12656',
 'p128348',
 'p109653',
 'p227127',
 'p18787',
 'p98788',
 'p52635',
 'p105718',
 'p116628',
 'p73879',
 'p54409',
 'p86873',
 'p54408',
 'p37740',
 'p141017',
 'p57129',
 'p85565',
 'p67278',
 'p51524',
 'p27674',
 'p166325',
 'p227326',
 'p67346',
 'p150172',
 'p37939',
 'p82184',
 'p73678',
 'p59957',
 'p44488',
 'p52775',
 'p54772',
 'p208135',
 'p37832',
 'p173211',
 'p168568',
 'p115858',
 'p107641',
 'p169007',
 'p59963',
 'p37852',
 'p203349',
 'p71389',
 'p59966',
 'p166552',
 'p149519',
 'p37769',
 'p109404',
 'p116736',
 'p103040',
 'p39294',
 'p44324',
 'p102760',
 'p13356',
 'p49181',
 'p66957',
 'p122775',
 'p40815',
 'p56995',
 'p210415',
 'p95434',
 'p213965',
 'p203325',
 'p145212',
 'p37998',
 'p165457',
 'p133633',
 'p39490',
 'p108988',
 'p12400',
 'p97624',
 'p80800',
 'p28146',
 'p44379',
 'p232182',
 'p78323',
 'p124148',
 'p43455',
 'p116627',
 'p37765',
 'p232185',
 'p19510',
 'p111315',
 'p214254',
 'p60582',
 'p162654',
 'p102747',
 'p102826',
 'p15930',
 'p71403',
 'p178478',
 'p192292',
 'p116643',
 'p170137',
 'p109653',
 'p19624',
 'p165809',
 'p169102',
 'p214472',
 'p167449',
 'p48847',
 'p220160',
 'p98914',
 'p97041',
 'p9999',
 'p44476',
 'p38002',
 'p28136',
 'p57263',
 'p93289',
 'p89518',
 'p90255',
 'p37831',
 'p72177',
 'p55264',
 'p195430',
 'p34392',
 'p80485',
 'p169141',
 'p10955',
 'p216438',
 'p63600',
 'p38816',
 'p152337',
 'p170034',
 'p80799',
 'p49169',
 'p169586',
 'p43024',
 'p54911',
 'p8742',
 'p214472',
 'p38008',
 'p209874',
 'p210460',
 'p49275',
 'p93498',
 'p9980',
 'p51327',
 'p39379',
 'p44314',
 'p27670',
 'p97290',
 'p37838',
 'p165659',
 'p33946',
 'p102766',
 'p116536',
 'p183779',
 'p115961',
 'p229608',
 'p42586',
 'p193539',
 'p103124',
 'p193409',
 'p108143',
 'p115851',
 'p78275',
 'p37758',
 'p111931',
 'p204727',
 'p212752',
 'p26894',
 'p66959',
 'p153649',
 'p170271',
 'p91070',
 'p151873',
 'p194141',
 'p42493',
 'p108168',
 'p84182',
 'p52482',
 'p164474',
 'p51090',
 'p129479',
 'p116406',
 'p93605',
 'p9809',
 'p80226',
 'p89068',
 'p73494',
 'p61170',
 'p95715',
 'p11527',
 'p46497',
 'p37971',
 'p18753',
 'p120743',
 'p199670',
 'p40720',
 'p42713',
 'p80357',
 'p106821',
 'p218705',
 'p189791',
 'p37776',
 'p37938',
 'p39680',
 'p37962',
 'p55948',
 'p161472',
 'p27669',
 'p90255',
 'p161034',
 'p42484',
 'p38314',
 'p58636',
 'p112323',
 'p83577',
 'p45136',
 'p79237',
 'p19670',
 'p83340',
 'p220074',
 'p85548',
 'p83561',
 'p43521',
 'p96740',
 'p101494',
 'p235050',
 'p67276',
 'p51525',
 'p38261',
 'p63100',
 'p124182',
 'p55711',
 'p204739',
 'p217596',
 'p120773',
 'p219924',
 'p114546',
 'p145221',
 'p229605',
 'p105706',
 'p100954',
 'p210415',
 'p40721',
 'p101779',
 'p61704',
 'p194302',
 'p201392',
 'p68690',
 'p52154',
 'p199670',
 'p95461',
 'p106272',
 'p50148',
 'p110347',
 'p219100',
 'p31878',
 'p20468',
 'p18679',
 'p171101',
 'p76507',
 'p49957',
 'p90126']